flows(2).json
[
    {
        "id": "56d2d7abd87bd714",
        "type": "tab",
        "label": "Flow 3 - Tablero fecha",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ed9e6c4c1a98d550",
        "type": "inject",
        "z": "56d2d7abd87bd714",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 60,
        "wires": [
            [
                "88cff2f5ab38fa94"
            ]
        ]
    },
    {
        "id": "c5f084112b672449",
        "type": "debug",
        "z": "56d2d7abd87bd714",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 100,
        "wires": []
    },
    {
        "id": "88cff2f5ab38fa94",
        "type": "function",
        "z": "56d2d7abd87bd714",
        "name": "function 1",
        "func": "//Lo que está después de \"//\"son comentarios\n//Crea un objeto Date a partir del payload enviado por timestamp \nvar date= new Date (msg.payload);\n//Cambia el payload para que sea una fecha con formato \nmsg.payload= date.toString();\n//Regresa el mensaje para que se envíe al siguiente nodo return msg;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 60,
        "wires": [
            [
                "c5f084112b672449",
                "1d4eff26188f8adf"
            ]
        ]
    },
    {
        "id": "1d4eff26188f8adf",
        "type": "ui_text",
        "z": "56d2d7abd87bd714",
        "group": "65cfd28ccc5fadd6",
        "order": 0,
        "width": "6",
        "height": "4",
        "name": "",
        "label": "La fecha y hora actual es:",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 610,
        "y": 40,
        "wires": []
    },
    {
        "id": "65cfd28ccc5fadd6",
        "type": "ui_group",
        "name": "Fecha formato legible",
        "tab": "9f0b3e6da39fe71c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9f0b3e6da39fe71c",
        "type": "ui_tab",
        "name": "Flow 3 - Fecha",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]